@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    overflow-x: hidden;
    background: url(/assets/fondo.jpg) center;
    background-size: cover;
}

.intro {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
}

.intro h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 3em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
}