@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    overflow-x: hidden;
}

.intro {
    width: 100vw;
    height: 35vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background: url(../../assets/fondo.jpg) center;
    background-size: cover;
}

.intro h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 3em;
    font-weight: bold;
    margin: 1em;
    color: #fff;
    text-transform: uppercase;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
    margin-block: 3rem;
    padding-top: 3rem;
}

.container .services {
    width: 220px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: #003857;
    color: #fff;
    border-radius: 50%;
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
    transition: .3s ease-in;
}

.container a {
    text-decoration: none;
    cursor: auto;
}

.container .services i {
    font-size: 4rem;
    margin: 1rem;
}

.container .services p {
    font-weight: bold;
    margin-inline: 1rem;
}

.container .services:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
    transition: .2s ease-out;
}

.container h2 {
    text-align: center;
    margin: 3rem;
    font-weight: bold;
    color: #003857;
}

.container h4 {
    font-weight: bold;
    color: #003857;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.container ul {
    list-style: none;
}

.container li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.container li::before {
    content: '';
    display: inline-block;
    background-image: url(/assets/iconEthernet.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 1rem;
    padding: 1rem;
}

.container img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.container .marcas {
    width: 12vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
    border-radius: 10px;
    padding: 1.2rem;
    margin: 1rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.container .marcas img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0;
}